body{
    max-width: 100vw;
    min-height: 100vh;
    background: #00d2ff;  /* fallback for old browsers*/
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    display:flex;
    flex-direction: column;
    /* color: white; */
}


#hero-page-container{
    justify-self: center;
    width: 90%;
    /* min-height: 80vh; */
    margin: auto;
    margin-top: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 20px;
}
#hero-page-container div{
    margin-left: 10px;
    margin-right: 10px;
}

#hero-page-container img{
    width: 25vw;
    /* height: 100%;  */
    /* object-fit: cover; */
    border-right:2px solid white;
    border-radius: 19px 0 0 19px;
}

#bio-container{
    width: auto;
    height: auto;
}

#hero-name{
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
}

#hero-page-description{
    font-size: 1.4rem;
    text-align: justify;
    /* height: auto; */
}

.extra{
    color: white;
    border: 2px solid white;
    min-height: 30vh;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
}

#back-button a:link,#back-button a:visited {
    font-size: x-large;
    background-color:var(--color1);
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* border-radius: 40px; */
    /* border: 2px solid white; */
    margin-bottom: 10px;
    width:200px;
  }

#back-button a::before{
content: "<-";
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    text-transform: capitalize;
    
}
.content div{
    width: 15%;
    height: auto;
    margin: 9px;
    border-radius: 10px;
    font-weight: bold;
    /* color: black; */
}

.content div img{
    width: 100%;
    border-radius: 7.5px;
}

.list{
    display: block;
    font-weight: bold;
}

#urls a:link,#urls a:visited {
    color: white;
    
}

/* Media Queries for Mobile Screens */
@media (max-width: 768px) {
    #hero-page-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        height: auto;
        border:none;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #hero-page-container img{
        width: 50vw;
        height: 50vw; 
        object-fit: cover;
        border: 2px solid white;
        border-radius:50%;
    }

    #hero-name {
        text-align: center;
        width: auto;
        font-size: 1.5rem;
        /* margin: auto; */
    }

    #hero-page-description {
        font-size: 0.9rem;
        text-align: justify;
    }
    .content{
        flex-wrap: wrap;
    }
    .content div {
        width: 40%;
        font-size: small;
    }

    #back-button a:link,#back-button a:visited {
        position: fixed;
        font-size: 1.2rem;
        background-color:var(--color1);
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width:150px;
        margin-left: -20px;
      }

    
}